.banner {
background: #CCC;
}
.banner .lib {
font-family: 'Cinzel Decorative', cursive;
font-size:1.7em;
}
.banner .dev {
font-family: 'Bubbler One', sans-serif;
font-size:1.7em;
text-transform:uppercase;
font-weight:bold;
}

h3 .btn {
  font-size: 24px;
}
